# Environment
.direnv
.env.local

# Node
node_modules
src/node_modules
dist
src/dist

# Nix
result

# OS
.DS_Store

# Systems
systems/*
!systems/loader.ts
!systems/Example MarsRover/
!systems/Example LunarBase/

# Images
images/*
!images/.placeholder
